@model NewVirusApp.Variant

@{
    ViewData["Title"] = "Create";
}
@if (@ViewBag.VirusName == null)
{
    <h1>Створити вірус</h1>
}
else
{
    <h1>Додати вірус групи @ViewBag.VirusName</h1>
}
<h4>Variant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="VariantName" class="control-label"></label>
                <input asp-for="VariantName" class="form-control" />
                <span asp-validation-for="VariantName" class="text-danger"></span>
            </div>
        <tr>
        </tr>             
            <div class="form-group">
                <label asp-for="VariantDateDiscovered" class="control-label"></label>
                <input asp-for="VariantDateDiscovered" class="form-control" />
                <span asp-validation-for="VariantDateDiscovered" class="text-danger"></span>
            </div>
            @if (@ViewBag.VirusId != null)
            {
                @if (@ViewBag.VirusId.GetType().BaseType == typeof(Microsoft.AspNetCore.Mvc.Rendering.MultiSelectList))
                {
                <div class="form-group">
                    <label asp-for="VirusId" class="control-label"></label>
                <select asp-for="VirusId" class ="form-control" asp-items="ViewBag.VariantId"></select>
            </div>
                }
            }
            else
            {
                <input type="hidden" value="@ViewBag.VirusId" name="VirusId" />
            }
            <div>
                <input
            </div>
            <div>
                @Html.ActionLink("Назад до списку штамів", "Index", new { id = @ViewBag.VirusId, name = @ViewBag.VirusName })
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
